<footer id="footer">
  <div class ="about">about us
<div class = 'creators'>

<div class = 'creator1'>
<p>Louis Coreas</p></br>
<p>Junior Developer</p></br>
<p>l.g.coreas@gmail.com</p>
</div>
<div class = 'creator2'>
<p>Apurva Jani</p></br>
<p>Junior Developer</p></br>
<p>jani.apurva@yahoo.com</p>
</div>
<div class = 'creator3'>
<p>Pranav T</p></br>
<p>Junior Developer</p></br>
<p>prnvthir@gmail.com</p>
</div>
</div>
</div>
</footer>
