<header>
  <nav class="nav-bar">
    <a class="nav-logo" href="/">Passwallet</a>
    <div class="navbar-seperator">
    </div>
    <div class="nav-far-right">
      <a class="nav-item nav-link-login" href="/login">Login</a>
      <a class="nav-item nav-link-register" href="/register">Register</a>
    </div>
  </nav>
</header>
