<header>
  <nav class="nav-bar">
    <div class="to-the-left">
      <a class="nav-logo" href="/">Passwallet</a>
    <div class="dropdown">
      <button class="dropbtn"> MENU
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="nav-item-my-passes" href="/home">My Saved Accounts</a>
        <a class="nav-item-create" href="home/user/createNewLogin">Save New Login</a>
      </div>
    </div>
    </div>
    <div class="to-the-right">
      <a class="footer-toggle">About Us</a>
      <form class="form-inline" method="POST" action="/logout">
        <span class="navbar-text"> Logged in as:   <%= idToStore%></span>
        <button class="logout" type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>
