<header>
  <nav class="nav-bar">
    <a class="nav-logo" href="/">Passwallet</a>
    <div class="navbar-seperator">
      <a class="nav-item-my-passes" href="/myaccounts">My saved passwords</a>
      <a class="nav-item-create" href="/savepasses">Save new passes</a>
    </div>
    <div class="to-the-right">
      <form class="form-inline" method="POST" action="/logout">
        <!-- <span class="navbar-text"> Logged in as: <%= user.email%></span> -->
        <button class="btn btn-outline-dark ml-1" type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>
