<header>
  <nav class="nav-bar">
    <div class ='to-the-left'>
    <a class="nav-logo" href="/">Passwallet</a>
  </div>
    <div class="navbar-seperator">
      <a class="nav-item-my-passes" href="/home">My saved passwords</a>
      <a class="nav-item-create" href="/savepasses">Save new password</a>
    </div>
    <div class="to-the-right">
      <form class="form-inline" method="POST" action="/logout">
        <span class="navbar-text"> Logged in as: <%= idToStore%></span>
        <button class="btn btn-outline-dark ml-1" type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>
