<main>
  <a class="brand-quote"> Sophisticated Password keeping system. </a>
  <div class="content">
    <h2>
      We keep your online identities secure so you can worry about other things
    </h2>
    <h3>keep all your affairs safe</h3>
  </div>
  <div class="container">
    <h4>Robust functionality</h4>
    <div class="container-contents">
      <div class="features">
        <!-- stock images located in images folder -->
        <a
          ><img class="change-pass" src="/images/change.png" />
          <p>store your password with a Sophisticated encryption</p></a
        >
        <a
          ><img class="admin" src="/images/network.png" />
          <p>oversee and manage individuals in your network</p></a
        >
        <a
          ><img class="password" src="/images/padlock.png" />
          <p>store your password with a Sophisticated encryption</p></a
        >
        <a
          ><img class="profile" src="/images/networking.png" />
          <p>store and create passwords for various online accounts</p></a
        >
      </div>
      <div class="sponsors">
        <p>Trusted by Millions</p>
        <div class="fakesponsorsimages"></div>
      </div>
    </div>
  </div>
  <div class = 'sponsors-logos'>
    <a><img class="amazon" src="/images/amazon.png" /></a>
    <a><img class="discord" src="/images/discord.png" /></a>
    <a><img class="github" src="/images/github.png" /></a>
    <a><img class="lighthouse" src="/images/lighthouse.png" /></a>
    <a><img class="newyorktimes" src="/images/newyorktimes.png" /></a>
    <a><img class="nike" src="/images/nike.png" /></a>
  </div>
</main>
