<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Passwallet</title>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Playfair+Display:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
<<<<<<< HEAD
    <div class="content-scroll">
      <%- include('partials/_loggedmain') %>
=======
    <main>
      <p>
        Passwallet mock  up
        </p>
      </main>
>>>>>>> master
  </body>
</html>
