
.create-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkboxes{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;
}
 .dyi{
   padding-bottom: 10px;
   justify-content: space-between;
 }
 .register{
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .defintions{
   padding-bottom: 10px;
   border-spacing: 20px;
 }
.site-password{
  padding-top: 10px;
  padding-bottom: 10px;
}
