footer {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  display: none;
<<<<<<< HEAD
 }
 .about {
  text-align: center;
  width: 75%;
  margin: auto;
 }
 .creators {
=======
}
.about {
  text-align: center;
  width: 75%;
  margin: auto;
}
.creators {
>>>>>>> 4d7d8030f04f15ea3b047572315cd56eaf24de26
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
<<<<<<< HEAD
 }
=======
}
>>>>>>> 4d7d8030f04f15ea3b047572315cd56eaf24de26
