header {
  display: flex;
  background-color: lightblue;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
