// See: https://sass-lang.com/
body {
  background-color: #eee;
  font-family: "Major Mono Display", monospace;
  h1 {
    color: #244751;

  }

}
main{
  padding-top: 120px;
  width: 90%;
  margin: auto;
}
