<<<<<<< HEAD
// See: https://sass-lang.com/
body {
  background-color: #eee;
  font-family: "Major Mono Display", monospace;
  h1 {
    color: #244751;

  }
 }
 main{
  width: 75%;
  margin: auto;
 }


 .login{
  display: block;
 }
 .login-password{
  padding-top: 2em;
  padding-bottom: 2em;
 }
 .login label{
  padding-bottom: 1em;
 }
 .login-button{
  padding-bottom: 2em;
 }
=======
.login{
  display: block;
}
.login-password{
  padding-top: 2em;
  padding-bottom: 2em;
}
.login label{
  padding-bottom: 1em;
}
.login-button{
  padding-bottom: 2em;
}
>>>>>>> 4d7d8030f04f15ea3b047572315cd56eaf24de26
