.brand-quote {
  justify-content: center;
 }
 main {
  padding-top: 120px;
  text-align: center;

  background-color: silver;
  align-self: center;
 }
 .change-pass {
  text-align: center;
  height: 3em;
  width: 3em;
 }
 .admin {
  text-align: center;
  height: 3em;
  width: 3em;
 }
 .password {
  text-align: center;
  height: 3em;
  width: 3em;
 }
 .profile {
  text-align: center;
  height: 3em;
  width: 3em;
 }
 .features {
  display: flex;
  p {
    font-size: 10px;
  }
  a {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.content{
  padding-top: 2em;
  padding-bottom: 2em;
}
.container-contents{
padding-top: 2em;
padding-bottom: 2em;
}
.sponsors{
  padding-top: 2em;
}
.sponsors-logos {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
  a {
    filter: grey;
    filter: grayscale(100%);
    opacity: 0.5;
  }
 }
 .amazon{
  height: 5em;
  width: 5em
 }
 .discord{
  height: 5em;
  width: 5em
 }
 .github{
  height: 5em;
  width: 5em
 }
 .lighthouse{
  height: 5em;
  width: 5em
 }
 .newyorktimes{
  height: 5em;
  width: 5em
 }
 .nike{
  height: 5em;
  width: 5em
 }
