.brand-quote{
 justify-content: center;
}
main{
  margin:  100px;
  background-color: pink;
  width: 90%;
  align-self: center;
}
.change-pass{
  height:2em;
  width: 2em;
}
.admin{
  height:2em;
  width: 2em;
}
.password{
  height:2em;
  width: 2em;
}
.profile{
  height:2em;
  width: 2em;
}
