.table {
  display: flex;
  justify-content: space-around;
}
.invisible-text {
  opacity: 0;
  font-size: 1px;
}
.copypass {
  background-color: limegreen;
}
.edit {
  background-color: yellow;
}
.delete {
  background-color: red;
}

.to-the-right {
  font-size: 10px;
}
