.table {
  display: flex;
  justify-content: space-around;
  border-spacing: 20px;
<<<<<<< HEAD
 }
 .invisible-text {
=======
}
.invisible-text {
>>>>>>> 4d7d8030f04f15ea3b047572315cd56eaf24de26
  opacity: 0;
  font-size: 1px;
 }
 .copypass {
  background-color: limegreen;
 }
 .edit {
  background-color: yellow;
 }
 .delete {
  background-color: red;
<<<<<<< HEAD
 }
 .user-info{
  padding-top: 20px;
  padding-bottom: 20px;
 }
=======
}
.user-info{
  padding-top: 20px;
  padding-bottom: 20px;
}
>>>>>>> 4d7d8030f04f15ea3b047572315cd56eaf24de26
