.table {
  display: flex;
  justify-content: space-around;
  border-spacing: 20px;
 }
 .invisible-text {
  opacity: 0;
  font-size: 1px;
 }
 .copypass {
  background-color: limegreen;
 }
 .edit {
  background-color: yellow;
 }
 .delete {
  background-color: red;
 }
 .user-info{
  padding-top: 20px;
  padding-bottom: 20px;
 }
