.register-name{
  padding-top: 2em;
  padding-bottom: 2em;
}
.register-email{
  padding-bottom: 2em;
}
.register-organization{
  padding-bottom: 2em;
}
.register-password{
  padding-bottom: 2em;
}
.register-button{
  padding-top: 2em;
  padding-bottom: 2em;
}
