.categories form {
  padding-bottom: 2em;
 text-decoration: none;
 }
 .categories-links{
  padding:2em;
  text-decoration: none;
  color: inherit;
 }
 .categories-links :hover{
  box-shadow: lightblue;
 }
